@import '_variables';

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

@import 'source-sans-pro/source-sans-pro.css';

body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
}

.btn {
  &.btn-primary {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &.btn-outline-primary {
    &:hover {
      color: #fff;
    }
  }
}
